
.container-creations {
  &_text {
    color: #000;
    @include flex (row, space-between, center);
    h2 {
      font-size: 2.5rem;
    }
    .link {
      padding: .4rem 1.2rem;
      color: #000;
      letter-spacing: .4rem;
      border: 1px solid #000;
      transition: all 300ms ease-in-out;
      &:hover {
        background-color: #000;
        color: $white;
      }
     }

  }
  .creations {
    @include flex(row, center, start);
    gap: 2rem;
    flex-wrap: wrap; 
    .card {
     position: relative;
     cursor:pointer;
     transition: all 300ms ease-in-out;
     &:hover {
      color: #000;
      img {
        transition: all 300ms ease-in-out;
        opacity: .4;
      }
     }
     &_title {
      position: absolute;
      bottom:.5rem;
      left: 1.5rem
     }
    
    }

  }
}
@media (min-width: 375px ) and (max-width: 800px) {
  .container-creations {
    &_text {
      @include flex (column, center, center);
      h2 {
        font-size: 2rem;
      }
      .link {
        padding: .4rem 1.2rem;
        color: #000;
        letter-spacing: .4rem;
        border: 1px solid #000;
        transition: all 300ms ease-in-out;
        &:hover {
          background-color: #000;
          color: $white;
        }
       }
  
    }
    .creations {
      @include flex(row, center, start);
      gap: 2rem;
      flex-wrap: wrap; 
      .card {
       position: relative;
       width: 85%;
       cursor:pointer;
       transition: all 300ms ease-in-out;
       img {
        width: 100%;
        height: 150px;
        object-fit: cover;
       }
       &:hover {
        color: #000;
        img {
          transition: all 300ms ease-in-out;
          opacity: .4;
        }
       }
       &_title {
        position: absolute;
        bottom:.5rem;
        left: 1.5rem
       }
      
      }
  
    }
  }
}
